<div class="card h-full">
    <div class="card-header">
        <h3 class="card-title">
            Répartition de mes lectures
        </h3>
    </div>
    <div class="card-body flex flex-col gap-5">
        <figure id="chart">

            {# <img src="{{  asset('media/charts/Radar_Sample.png') }}" alt="Radar Sample"/> #}
        </figure>
    </div>
</div>

{# {% block javascripts %} #}
    {# <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script> #}
    <script src="{{ asset('metronic/vendors/apexcharts/apexcharts.min.js') }}"></script>
    <script>
        var options = {
            chart: {
                width: 500,
                height: 500,
                type: 'radar'
            },
            series: [
                {
                name: "Radar Series 1",
                data: [{% for key,value in counter %} '{{ value }}', {% endfor %}],
                },
            ],
            xaxis: {
                categories: [{% for key,value in categories %} '{{ value.name }}', {% endfor %}],
            }
        }

            var chart = new ApexCharts(document.querySelector("#chart"), options);

            chart.render();
    </script>
{# {% endblock %} #}